<div class="container mt-5">
<form>
  <h3>Please inter your adress to parse : </h3>
  <input name="title" [(ngModel)]="showTable">
</form>
<div *ngIf="!showTable.lenght">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Adress</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Country</td>
        <td>Canada</td>
      </tr>
    <tr>
        <td>City</td>
        <td>Paris</td>
      </tr>
      <tr>
        <td>City</td>
        <td>Paris</td>
      </tr> <tr>
        <td>City</td>
        <td>Courbevoie</td>
      </tr> <tr>
        <td>City</td>
        <td>Paris</td>
      </tr> <tr>
        <td>City</td>
        <td>Paris</td>
      </tr> <tr>
        <td>City</td>
        <td>Paris</td>
      </tr>
  </tbody>
</table>
</div>

</div>